/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  background-color: #eceff1;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
.navbar-brand {
    color: #fff !important;
    font-weight: bold;
    font-size: 18px;
}

.navbar-default, .footer {
    background-color: #006e33;
    border-color: #006e33;
}

a {
    text-decoration: none !important;
    color: #1e9253;
}

p {
  font-size: 16px;
  line-height: 1.4em;
  font-family: 'Roboto',Arial,sans-serif;
  text-align: justify;
}
.nav>li>a {
    color: #fff !important;
    /*font-weight: bold;*/
    font-size: 18px;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
h1 {
    font-size: 26px;
    font-weight: 700;
}

h2 {
    font-size: 22px;
    font-weight: 600;
}

.detail {
  border-top: 1px dotted;
}

.footer {
  color: #fff;
  font-size: 14px;  
  text-align: center;
  padding: 15px 0;
}